$black:#1F1F1F;
$darkest-grey:#222226;
$dark-grey:#66666A;
$medium-grey:#77777B;
$light-grey:#AAAAAE;
$lightest-grey:#CCCCD0;
$whitesmoke:whitesmoke;
$white:#FFFFFF;

$pastel-blue-darkest:#1F3B4C;
$pastel-blue-dark:#36444C;
$pastel-blue:#3D7699;
$pastel-blue-light:#529DCC;
$pastel-blue-lightest:#95BCD4;

$btstrp-red:#C9302C;
$btstrp-orange:#FF8800;
$btstrp-blue:#337AB7;
$btstrp-blue-border:#2E6DA4;
$btstrp-green:#5CB85C;