div.dataTables_wrapper{
	margin-bottom:1em;
}

div.dataTables_wrapper div.dataTables_filter{
	float:none;
	text-align:left;
}

div.dataTables_wrapper div.dataTables_paginate{
	float:none;
	text-align:center;
}

div.dataTables_filter label input{
	font-size:1em;
	padding:0.25em;
	border-radius:0.5em;
	outline:none;
	border:1px solid #B0B7BC;
	box-shadow: inset 0.25em 0.25em 0.15em rgba(0,0,0,0.1);
}

table.dataTable thead{
	background:#455560;
	color:#B0B7BC;
}

table.dataTable tbody tr{
	cursor:pointer;
}

table.dataTable tbody tr:hover,
table.dataTable tbody tr.odd:hover{
	background:#AAAAAA;
	color:#FFFFFF;
}

table.dataTable tbody tr.odd.selected{
	background:#B0BED9;
}

table.dataTable tbody tr.odd{
	background:#CCCCCC;
}

table.dataTable tbody tr td.delete{
	text-align:center;
}

table.dataTable tbody tr td.delete span.delete:hover{
	color:#B24747;
}