@import url('https://fonts.googleapis.com/css?family=Roboto|Cutive+Mono|Muli:200,400');

$roboto: 'Roboto',Arial,Verdana,sans-serif;
$cutive: 'Cutive Mono', monospace;
$century-gothic: 'Century Gothic',Arial,Verdana,sans-serif;
$muli: 'Muli', sans-serif;